/* Чим ми займаємося */
.about {
  text-align: center;
  padding-bottom: 94px;
}

.we-work {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.we-work-list {
  display: flex;
  gap: 30px;
}

.we-do-container {
  position: relative;
}

.we-do-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-accent-color);

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(47, 48, 58, 0.8);
}