/* Хедер шапка сайту */

.page-header {
  padding: 24px 0;
  border-bottom: 1px solid var(--border-header-color);
}

.container-head {
  // display: flex;
  // align-items: center;
  @extend %lign-list;
}

.nav-head {
  // display: flex;
  // align-items: center;
  @extend %lign-list;
}

/* logo (спільне)*/
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
  &:focus {
      color: var(--accent-color);
    }
}

.web {
  color: #2196F3;
  text-decoration: none ;
}

/* Навігація сайту (спільна) */
.nav-head-list {
  @include font (14px, 1.14, 500, 0.02em);
  display: flex;
  gap: 50px;
}

.header-list {
  font-family: 'Roboto', sans-serif;
  @include font (14px, 1.14, 500, 0.02em);
  color: #212121;
  text-decoration: none;
  display: block;
  color: var(--title-text-color);

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  
    &:hover,
    &:focus {
      color: #2196F3;
    }
}

.nav-head-list-item {
  position: relative;
}

.header-list.current:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-list {
  color: var(--title-text-color);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover, &:focus {
      color: #2196F3;
    }
}

.nav-head-list {
  color: var(--title-text-color);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
&:hover, &:focus {
    color: #2196F3;
  }
}

.current {
  color: #2196F3;
}

/*Контактні дані (спільні)*/
.nav-contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-link {
  @include font (14px, 1.14, 500,0.02em);

  color: var(--primary-text-color);
  vertical-align: middle;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover, &:focus {
      color: var(--accent-color);
    }
}

/* іконки до мейл та тел (спільний) 4 дз*/
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}